.big-div{
    box-sizing: border-box;
    margin: none;
    max-width: 100%;
    
    background-color: #f1f1f1;
    height: 1800px;
    }
    .updiv{
        top: 0;
        box-shadow: 0 0 4px grey;
        z-index: 2;
        height: 80px;
        background-color: white;
        border-radius: 3px;
        position: fixed;
        width: 100%;
        left: -10px;
        margin-top: -8px;
    }

.travisdiv{
    margin: auto;
    width:96%;
    align-items: center;
    position: absolute;
    top: 3%;
    left: 2%;
    z-index: 1;
    height: 1200px;   
    background-image: url(/download.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
    
    box-shadow: 0 5px 20px black;
}
.whitediv{
    background-color:white ;
    width: 750px;
    height: 800px;
    align-items: center;
    position: absolute;
    top: 13%;
    left: 20%;
    border-radius: 40px;
    box-shadow:  0 0  20px black;
    

}
